[program:dask_scheduler]
command=dask-scheduler --host 0.0.0.0 --port={{ ports.dask }} --no-bokeh
environment=PYTHONPATH=".",PYTHONUNBUFFERED="1"
stdout_logfile=log/dask_scheduler.log
redirect_stderr=true

[program:dask_worker]
command=dask-worker --nthreads=1 --nprocs=4 0.0.0.0:{{ ports.dask }}
environment=PYTHONPATH=".",PYTHONUNBUFFERED="1"
stdout_logfile=log/dask_workers.log
redirect_stderr=true
